middleware/random_walk.json
[
    {
        "id": "38f63459e8509987",
        "type": "tab",
        "label": "Boot do Sistema",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a325943e58526078",
        "type": "tab",
        "label": "Controle Manual",
        "disabled": false,
        "info": ""
    },
    {
        "id": "843319fbc3e65392",
        "type": "tab",
        "label": "funcoes-principais",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d38de69ae29265fe",
        "type": "tab",
        "label": "Comunicação ROS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2815901201529c8e",
        "type": "tab",
        "label": "Interface Sistema",
        "disabled": false,
        "info": ""
    },
    {
        "id": "24b3cd6a63c761f6",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [],
        "out": []
    },
    {
        "id": "b57ef5f111f4bb93",
        "type": "ui_tab",
        "d": true,
        "name": "botoes2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7356e03d35bca63b",
        "type": "ui_base",
        "d": true,
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#00ff2a",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#11ff00",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#11ff00",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#11ff00",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#58ff4d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#11ff00",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "78c3a7d4ace754ef",
        "type": "ui_group",
        "name": "botoes_teste",
        "tab": "9f4c9cdd301dbb76",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "533e2e4eedc85de8",
        "type": "ui_tab",
        "d": true,
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3dc83ccb2e1c8408",
        "type": "ui_group",
        "d": true,
        "name": "Clima",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8ddd59e65d38f283",
        "type": "ui_group",
        "d": true,
        "name": "meio",
        "tab": "b57ef5f111f4bb93",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "441d35c6f4b2dc09",
        "type": "ui_group",
        "d": true,
        "name": "Default",
        "tab": "533e2e4eedc85de8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4a093a6cc961a2f",
        "type": "ui_group",
        "d": true,
        "name": "Acionamentos",
        "tab": "b57ef5f111f4bb93",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f4c9cdd301dbb76",
        "type": "ui_tab",
        "d": true,
        "name": "teste",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1eb3c1b9ae18f27c",
        "type": "ui_group",
        "d": true,
        "name": "bruna",
        "tab": "b57ef5f111f4bb93",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "28f661cab25351e8",
        "type": "ui_group",
        "name": "Default",
        "tab": "7a5b91ef21535aaa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7a5b91ef21535aaa",
        "type": "ui_tab",
        "name": "botoes",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8f9ae1ee7d52fa8a",
        "type": "ui_group",
        "name": "Default",
        "tab": "ebddf36c8a18fe5e",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ebddf36c8a18fe5e",
        "type": "ui_tab",
        "name": "btn2",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "77cab3a63fb315bc",
        "type": "ros-publisher",
        "z": "a325943e58526078",
        "topicname": "/cmd_vel",
        "typepackage": "geometry_msgs",
        "typename": "Twist",
        "x": 880,
        "y": 360,
        "wires": []
    },
    {
        "id": "39ee13acbd487372",
        "type": "switch",
        "z": "a325943e58526078",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "7",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "10",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "11",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "12",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "13",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "14",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "15",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "16",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 17,
        "x": 150,
        "y": 340,
        "wires": [
            [
                "2b764ac5e7035157"
            ],
            [
                "b1affa6e3ba3be17"
            ],
            [
                "8c65de53c5759ce6"
            ],
            [
                "5db8195116f69d8c"
            ],
            [
                "959cbf53977e95d5"
            ],
            [
                "e6e122b2ab601af6"
            ],
            [
                "be9c12424fb508e3"
            ],
            [
                "6b59296268bfd34d"
            ],
            [
                "1eaa3dfc34a5bf49"
            ],
            [
                "a1e40a0c51a18654"
            ],
            [
                "f074dfd9515eb879"
            ],
            [
                "dfe2a65f57b1167a"
            ],
            [
                "7b78684705f2642c"
            ],
            [
                "5ab393fce5281bb0"
            ],
            [
                "484023c05ba620ba"
            ],
            [
                "012a26a22bfdb0ea"
            ],
            [
                "4ddb8a3d178e2c38"
            ]
        ]
    },
    {
        "id": "2b764ac5e7035157",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Parar",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": 0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 40,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "b1affa6e3ba3be17",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Girar horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": -0.24\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "8c65de53c5759ce6",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Girar horário (Rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": -0.48\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "5db8195116f69d8c",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.2,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": -0.2\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 160,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "959cbf53977e95d5",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente horário (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.4,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": -0.35\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 200,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "e6e122b2ab601af6",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.2,\n    \"y\": 0.0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0.0,\n    \"z\": 0.0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 240,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "be9c12424fb508e3",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.35,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": 0.0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 280,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "6b59296268bfd34d",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente anti-horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.2,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": 0.2\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 320,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "1eaa3dfc34a5bf49",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Frente anti-horário (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.35,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0,\n    \"y\": 0,\n    \"z\": 0.48\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "a1e40a0c51a18654",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Anti-horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.2\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 400,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "f074dfd9515eb879",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Anti-horário (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.48\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 440,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "dfe2a65f57b1167a",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás Anti-horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.2,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.2\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 480,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "7b78684705f2642c",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás anti-horário (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.35,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.48\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 520,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "5ab393fce5281bb0",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.2,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 560,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "484023c05ba620ba",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.35,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": 0.0\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 600,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "012a26a22bfdb0ea",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás horário (devagar)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.2,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\": -0.2\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 640,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "4ddb8a3d178e2c38",
        "type": "function",
        "z": "a325943e58526078",
        "name": "Trás horário (rápido)",
        "func": "msg.payload = {\n  \"linear\": {\n    \"x\": -0.35,\n    \"y\": 0,\n    \"z\": 0\n  },\n  \"angular\": {\n    \"x\": 0.0,\n    \"y\": 0,\n    \"z\":- 0.48\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 680,
        "wires": [
            [
                "2a3b562852ee555e"
            ]
        ]
    },
    {
        "id": "6c6da4cd7663f2c3",
        "type": "ros-subscriber",
        "z": "d38de69ae29265fe",
        "topicname": "/amr_state",
        "typepackage": "std_msgs",
        "typename": "Int16",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "0e6e4158428fe880",
                "f559230b799e228e"
            ]
        ]
    },
    {
        "id": "09a8346fdb4da4ce",
        "type": "uibuilder",
        "z": "2815901201529c8e",
        "name": "",
        "topic": "",
        "url": "random_walk",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "vue-simple",
        "extTemplate": "",
        "showfolder": false,
        "useSecurity": false,
        "sessionLength": 432000,
        "tokenAutoExtend": false,
        "reload": false,
        "sourceFolder": "src",
        "x": 230,
        "y": 60,
        "wires": [
            [
                "4d7b98ba1485a915"
            ],
            [
                "f713992c2f68d5d1"
            ]
        ]
    },
    {
        "id": "4d7b98ba1485a915",
        "type": "link out",
        "z": "2815901201529c8e",
        "name": "Funções",
        "links": [
            "41e164df68a47a55"
        ],
        "x": 375,
        "y": 40,
        "wires": []
    },
    {
        "id": "f713992c2f68d5d1",
        "type": "link out",
        "z": "2815901201529c8e",
        "name": "debug",
        "links": [],
        "x": 375,
        "y": 80,
        "wires": []
    },
    {
        "id": "756432321184dc8d",
        "type": "link in",
        "z": "2815901201529c8e",
        "name": "Interface",
        "links": [
            "b3a71af92c814f84",
            "bbc9b5b5975c372c",
            "7156dbdc5072cd94"
        ],
        "x": 95,
        "y": 60,
        "wires": [
            [
                "09a8346fdb4da4ce"
            ]
        ]
    },
    {
        "id": "b715eb5d80ffb47e",
        "type": "inject",
        "z": "38f63459e8509987",
        "name": "Porcentagem de Bateria",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "batery_porc",
        "payload": "100",
        "payloadType": "num",
        "x": 190,
        "y": 40,
        "wires": [
            [
                "d1b1e4e45ec69f08"
            ]
        ]
    },
    {
        "id": "d1b1e4e45ec69f08",
        "type": "function",
        "z": "38f63459e8509987",
        "name": "",
        "func": "global.set(\"batery_porc\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 40,
        "wires": [
            [
                "b3a71af92c814f84"
            ]
        ]
    },
    {
        "id": "b3a71af92c814f84",
        "type": "link out",
        "z": "38f63459e8509987",
        "name": "",
        "links": [
            "756432321184dc8d"
        ],
        "x": 575,
        "y": 100,
        "wires": []
    },
    {
        "id": "dcc5cf3aeb07216c",
        "type": "inject",
        "z": "38f63459e8509987",
        "name": "modo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "manual_mode",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "09b68873327e2100"
            ]
        ]
    },
    {
        "id": "09b68873327e2100",
        "type": "function",
        "z": "38f63459e8509987",
        "name": "",
        "func": "global.set(\"manual_mode\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 80,
        "wires": [
            [
                "b3a71af92c814f84"
            ]
        ]
    },
    {
        "id": "02a1600778aba024",
        "type": "inject",
        "z": "38f63459e8509987",
        "name": "Estado",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "amr_state",
        "payload": "0",
        "payloadType": "num",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "1940212e21354edf"
            ]
        ]
    },
    {
        "id": "1940212e21354edf",
        "type": "function",
        "z": "38f63459e8509987",
        "name": "",
        "func": "global.set(\"amr_state\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            [
                "b3a71af92c814f84"
            ]
        ]
    },
    {
        "id": "1ef277a07e4861f5",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "",
        "func": "//flow.set(\"sistema_carregado\",true);\nvar auxiliar =global.get([\"amr_state\",\"batery_porc\", \"manual_mode\",\"amr_timer\"]);\nmsg.topic = 'amr_state'\nmsg.payload = auxiliar[0]\nnode.send(msg);\nmsg.topic = 'batery_porc'\nmsg.payload = auxiliar[1]\nnode.send(msg);\nmsg.topic = 'manual_mode'\nmsg.payload = auxiliar[2]\nnode.send(msg);\nmsg.topic = 'amr_timer'\nmsg.payload = auxiliar[3]\nnode.send(msg);\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 40,
        "wires": [
            [
                "bbc9b5b5975c372c"
            ]
        ]
    },
    {
        "id": "bbc9b5b5975c372c",
        "type": "link out",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "756432321184dc8d"
        ],
        "x": 435,
        "y": 40,
        "wires": []
    },
    {
        "id": "41e164df68a47a55",
        "type": "link in",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "4d7b98ba1485a915"
        ],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "ad0eaa02281a7b4c"
            ]
        ]
    },
    {
        "id": "ad0eaa02281a7b4c",
        "type": "switch",
        "z": "843319fbc3e65392",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "amr_manual_mode",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "amr_start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "timer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "amr_pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "amr_cancel",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "f9bd2b4a523df0a1"
            ],
            [
                "a91a4420d34958bd"
            ],
            [
                "dbf15052b1e392ae"
            ],
            [
                "dde055dbfd142259"
            ],
            [
                "431df4749edcc597"
            ]
        ]
    },
    {
        "id": "f9bd2b4a523df0a1",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "modo",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\"]);\nglobal.set(\"manual_mode\",msg.payload);\n\nif((auxiliar[0]==1||auxiliar[0]==2) && auxiliar[1]==false){\n    msg.payload = {\"data\":{}}\n    msg.topic = 'amr_cancel';\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 80,
        "wires": [
            [
                "dde43048323d6d75"
            ]
        ]
    },
    {
        "id": "37b44c10311f89ac",
        "type": "inject",
        "z": "843319fbc3e65392",
        "name": "Atualiza interface",
        "props": [],
        "repeat": "0.5",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payloadType": "str",
        "x": 150,
        "y": 40,
        "wires": [
            [
                "1ef277a07e4861f5"
            ]
        ]
    },
    {
        "id": "dbf15052b1e392ae",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "timer",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\",\"amr_timer\"]);\n\nif(auxiliar[0]!=2 && auxiliar[1]==false && auxiliar[2]>=0){\n    global.set(\"amr_timer\",msg.payload*60);\n}\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "faa8691100aeb085",
        "type": "function",
        "z": "38f63459e8509987",
        "name": "",
        "func": "global.set(\"amr_timer\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 160,
        "wires": [
            [
                "b3a71af92c814f84"
            ]
        ]
    },
    {
        "id": "1848f64954e82ee2",
        "type": "inject",
        "z": "38f63459e8509987",
        "name": "timer (default)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "amr_timer",
        "payload": "60",
        "payloadType": "num",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "faa8691100aeb085"
            ]
        ]
    },
    {
        "id": "a91a4420d34958bd",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "start",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\",\"amr_timer\"]);\n\n\nif((auxiliar[0]==2||auxiliar[0]==0) && auxiliar[1]==false && auxiliar[2]>=0){\n    \n    msg.payload = {\"data\":{}}\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 120,
        "wires": [
            [
                "8f8439a44393eae1"
            ]
        ]
    },
    {
        "id": "8f8439a44393eae1",
        "type": "link out",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "31728fd89f30ebb8"
        ],
        "x": 435,
        "y": 160,
        "wires": []
    },
    {
        "id": "31728fd89f30ebb8",
        "type": "link in",
        "z": "d38de69ae29265fe",
        "name": "start_amr",
        "links": [
            "8f8439a44393eae1"
        ],
        "x": 55,
        "y": 40,
        "wires": [
            [
                "97459fbfcdbbe960"
            ]
        ]
    },
    {
        "id": "25c30d968069cd64",
        "type": "link out",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "197b300a1a98a260"
        ],
        "x": 615,
        "y": 300,
        "wires": []
    },
    {
        "id": "197b300a1a98a260",
        "type": "link in",
        "z": "d38de69ae29265fe",
        "name": "amr_finish",
        "links": [
            "25c30d968069cd64"
        ],
        "x": 55,
        "y": 120,
        "wires": [
            [
                "b80f110162b85e6d"
            ]
        ]
    },
    {
        "id": "7156dbdc5072cd94",
        "type": "link out",
        "z": "d38de69ae29265fe",
        "name": "",
        "links": [
            "756432321184dc8d"
        ],
        "x": 335,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e6e4158428fe880",
        "type": "function",
        "z": "d38de69ae29265fe",
        "name": "",
        "func": "\n    global.set(\"amr_state\",msg.payload.data);\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 220,
        "wires": [
            [
                "7156dbdc5072cd94"
            ]
        ]
    },
    {
        "id": "dde055dbfd142259",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "pause",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\",\"amr_timer\"]);\n\nif(auxiliar[0]==1 && auxiliar[1]==false && auxiliar[2]>0){\n    msg.payload = {\"data\":{}}\n    msg.topic = 'amr_pause';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 200,
        "wires": [
            [
                "977cdb2f0b9cd466"
            ]
        ]
    },
    {
        "id": "618719370cef0ed0",
        "type": "link in",
        "z": "d38de69ae29265fe",
        "name": "",
        "links": [],
        "x": -55,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "15619b9056affba8",
        "type": "link in",
        "z": "d38de69ae29265fe",
        "name": "amr_pause",
        "links": [
            "977cdb2f0b9cd466"
        ],
        "x": 55,
        "y": 80,
        "wires": [
            [
                "7f32d9ff7a0fdbbd"
            ]
        ]
    },
    {
        "id": "920ad096d1443a2e",
        "type": "link in",
        "z": "d38de69ae29265fe",
        "name": "amr_cancel",
        "links": [
            "dde43048323d6d75"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "72df9e44d49ae639"
            ]
        ]
    },
    {
        "id": "977cdb2f0b9cd466",
        "type": "link out",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "15619b9056affba8"
        ],
        "x": 435,
        "y": 200,
        "wires": []
    },
    {
        "id": "431df4749edcc597",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "cancel",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\"]);\n\nif((auxiliar[0]==1||auxiliar[0]==2) && auxiliar[1]==false){\n    msg.payload = {\"data\":{}}\n    msg.topic = 'amr_cancel';\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 240,
        "wires": [
            [
                "dde43048323d6d75"
            ]
        ]
    },
    {
        "id": "dde43048323d6d75",
        "type": "link out",
        "z": "843319fbc3e65392",
        "name": "",
        "links": [
            "920ad096d1443a2e"
        ],
        "x": 435,
        "y": 240,
        "wires": []
    },
    {
        "id": "01fa1e895299613d",
        "type": "link in",
        "z": "a325943e58526078",
        "name": "Controle manual",
        "links": [],
        "x": 55,
        "y": 340,
        "wires": [
            [
                "39ee13acbd487372"
            ]
        ]
    },
    {
        "id": "97459fbfcdbbe960",
        "type": "ros-publisher",
        "z": "d38de69ae29265fe",
        "topicname": "/amr_start",
        "typepackage": "std_msgs",
        "typename": "Empty",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "7f32d9ff7a0fdbbd",
        "type": "ros-publisher",
        "z": "d38de69ae29265fe",
        "topicname": "/amr_pause",
        "typepackage": "std_msgs",
        "typename": "Empty",
        "x": 330,
        "y": 80,
        "wires": []
    },
    {
        "id": "b80f110162b85e6d",
        "type": "ros-publisher",
        "z": "d38de69ae29265fe",
        "topicname": "/amr_finish",
        "typepackage": "std_msgs",
        "typename": "Empty",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "89c91beb9607bc11",
        "type": "ros-publisher",
        "z": "d38de69ae29265fe",
        "topicname": "/amr_cancel",
        "typepackage": "std_msgs",
        "typename": "Empty",
        "x": 330,
        "y": 160,
        "wires": []
    },
    {
        "id": "72df9e44d49ae639",
        "type": "function",
        "z": "d38de69ae29265fe",
        "name": "",
        "func": "var auxiliar = msg\nif(auxiliar.payload != false){\n    global.set(\"amr_timer\",3600)\n    msg.payload = {\"data\":{}}\n    node.send(msg)\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 160,
        "wires": [
            [
                "89c91beb9607bc11"
            ]
        ]
    },
    {
        "id": "487724ab87404b0b",
        "type": "function",
        "z": "843319fbc3e65392",
        "name": "timer_control",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\",\"amr_timer\"]);\n\nif(auxiliar[0]==1 && auxiliar[1]==false && auxiliar[2]>0){\n    global.set(\"amr_timer\",auxiliar[2]-1);\n    msg.topic = \"repeat\";\n    node.send(msg);\n}\nif(auxiliar[0]==1 && auxiliar[1]==false && auxiliar[2]==0){\n    global.set(\"amr_timer\",3600);\n    msg.payload = {\"data\":{}}\n    msg.topic = \"finish\";\n    node.send(msg);\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 300,
        "wires": [
            [
                "4bd0cd54822ededa"
            ]
        ]
    },
    {
        "id": "0739b5e9ca2bd3a0",
        "type": "link in",
        "z": "843319fbc3e65392",
        "name": "timer_delay",
        "links": [
            "f559230b799e228e"
        ],
        "x": 55,
        "y": 300,
        "wires": [
            [
                "487724ab87404b0b"
            ]
        ]
    },
    {
        "id": "f559230b799e228e",
        "type": "link out",
        "z": "d38de69ae29265fe",
        "name": "",
        "links": [
            "0739b5e9ca2bd3a0"
        ],
        "x": 375,
        "y": 220,
        "wires": []
    },
    {
        "id": "4bd0cd54822ededa",
        "type": "switch",
        "z": "843319fbc3e65392",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "repeat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "finish",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "67d2c674f1746c00"
            ],
            [
                "25c30d968069cd64"
            ]
        ]
    },
    {
        "id": "67d2c674f1746c00",
        "type": "delay",
        "z": "843319fbc3e65392",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 500,
        "y": 300,
        "wires": [
            [
                "487724ab87404b0b"
            ]
        ]
    },
    {
        "id": "2a3b562852ee555e",
        "type": "function",
        "z": "a325943e58526078",
        "name": "",
        "func": "var auxiliar =global.get([\"amr_state\", \"manual_mode\"]);\n\nif(auxiliar[0]==0 && auxiliar[1]==true){\n    node.send(msg);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 360,
        "wires": [
            [
                "77cab3a63fb315bc"
            ]
        ]
    }
]